PORT=3001

DBHOST=
DBPORT=
DBUSER=
DBPASSWORD=
DBNAME=

FORCE_DROP_TABLE=
FORCE_ALTER_TABLE=

WEBSITE_URL=
WEBSITE_NAME=

NODE_ENV=
UPLOADS_PATH=
JWT_SECRET=
JWT_TOKEN_EXPIRY=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRY=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
SESSION_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

SQLITE_ENCRYPTION_KEY=
